.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
    background: #f5f7fa;
}
.mid-section{
    display: flex;
    gap: 25px;
    font-weight: 500;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}
.mid-section > p{
    color: #4d4d4d;
    font-size: 18px;
}
.hero-section{
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #f5f7fa;
}
.hero-section > div > h1{
    color: #4d4d4d;
    font-weight: bolder;
    font-size: 45px;
}
.client{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.member{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.member2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.section2{
    display: flex;
    gap: 40px;
    padding: 10% 10% 5%;
}
.section3{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 3% 10%;
    background: #f5f7fa;
}
.new{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}
.section4{
    display: flex;
    gap: 40px;
    padding: 10% 10% 5%;
}
.section5{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 5% 10% 5%;
    background: #f5f7fa;
}
.footer{
    background: #263238;
    padding: 4%;
    display: flex;
    color: white;
    justify-content: space-around;
    gap: 20%;
}
.footer-sider{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
}
.footer-sider > p{
    display: block;
}
input::placeholder{
    color: white;
}
.input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    background: #515b60;
}
.image{
    position: relative;
    left: 190px;
    top: -27px;
}